/*
color scheme
#B2543B / rgba(178,84,59) copper, nav and headers


*/

.gutter {
	display:table;
	content:" ";
	clear:both;
}

html,
body {
	width:100%;
	min-height:100%;
	margin:0%;
}

.wrapper {
	position:relative;
	min-height:100%;
	width:100%;
}

body {
	font-family:"Droid Sans", sans-serif;
}

/*=====================
index.html
=====================*/

header {
	width:100%;
	height:500px;
	background-image:url("../img/chance.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

nav {
	margin-top:0;
	width:100%;
	position:relative;
}

.nav_ul {
	margin:0;
	display:flex;
	justify-content:space-between;
	padding:20px 40px 20px 40px;
}

.nav_li {
	font-size:20px;
	list-style-type:none;
	text-transform:uppercase;
}

.nav_li a {
	color:#ffffff;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	width:120px;
}

/*================
other nav styles
================*/

.other_pages_nav {
	margin-top:0;
	width:100%;
	background-color:#B2543B;
}

.other_nav_ul {
	width:80%;
	float:right;
	margin:0;
	display:flex;
	justify-content:space-between;
	padding:20px 40px 20px 40px;
}

.other_nav_li {
	font-size:20px;
	list-style-type:none;
	text-transform:uppercase;
}

.other_nav_li a {
	color:#ffffff;
	text-decoration:none;
	display:inline-block;
	text-align:center;
	width:120px;
}

.intro_body {
	width:100%;
	height:500px;
	background-color:#ffffff;
	z-index:1;
	margin-bottom:10px;
	padding-top:20px;
}

#about_index_heading {
	color:#B2543B;
	font-size:50px;
	text-align:center;
	padding:10px;
	text-transform:uppercase;
	width:20%;
	margin:auto;
	border-bottom:1px solid #B2543B;
	margin-bottom:20px;
}

#about_index_content {
	font-size:18px;
	color:#000000;
	width:60%;
	margin:auto;
	margin-bottom:20px;
	text-align:center;
	line-height:50px;
}

#buttonLink {
	text-decoration:none;
	color:#FFFFFF;
}

#button {
	display:table;
	padding:5px;
	margin:auto;
	width:10%;
	height:40px;
	border:1px solid #BBBAB2;
	text-align:center;
	transition:all 0.4s ease-in-out;
}

#button p {
	width:90%;
	height:90%;
	background-color:#E89F6D;
	display:table-cell;
	vertical-align:middle;
	margin:0;
	transition:all 0.4s ease-in-out;
}

#button:hover p {
	background-color:#BBBAB2;
}

/*Featured works section*/

#featuredWorks {
	width:100%;
	height:475px;
	background-color:#E89F6D;
}

#featured_works_heading {
	color:#ffffff;
	font-size:50px;
	text-align:center;
	text-transform:uppercase;
	width:50%;
	padding:40px;
	object-position:center;
	margin:auto;
}

#featured_works_body {
	width:100%;
	display:flex;
	justify-content:space-between;
}

.featured_works {
	padding:10px;
	height:250px;
	width:25%;
	border:1px solid #ffffff;
	transition:all 0.4s ease-in-out;
}

.featured_works:hover {
	box-shadow:inset 0 300px 0 0 rgba(178,84,59,0.6);
}

#firstFeatured {
	margin-left:40px;
	background-image:url(../img/brooklyn-brid.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#secondFeatured {
	background-image:url(../img/chance.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#thirdFeatured {
	margin-right:40px;
	background-image:url(../img/captainMurphy.gif);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

.featured_work_h4 {
	margin:auto;
	text-align:center;
	height:5%;
	margin-top:120px;
}

.featured_works a {
	margin:auto;
	width:inherit;
	height:inherit;
	margin:auto;
	padding:10px;
	font-size:22px;
	border:1px solid #ffffff;
	text-align:center;
	opacity:0;
	transition:all 0.4s ease-in-out;
	text-decoration:none;
	color:#FFFFFF;
	text-transform:uppercase;
}

.featured_works:hover a {
	opacity:1;
}

.featured_work_h4 a:hover {
	color:#B2543B;
	background-color:#FFFFFF;
}


/*=====================
general nav cover
=====================*/

.navCover {
	width:100%;
	height:500px;
}

#headerLogo {
	display: block;
	margin: auto;
	width: 350px;
}

#headerTitle {
	text-align: center;
	color: white;
	text-transform: uppercase;
	position: relative;
	top: -70px;
	font-size: 4em;
}

/*=====================
about.html
=====================*/

#aboutnavCover {
	background-image:url("../img/murphy.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#about_block {
	width:90%;
	height:500px;
	margin:auto;
	padding:20px;
}

#mission_statement_block {
	width:90%;
	margin:auto;
	height:300px;
	padding-bottom:20px;
}

#mission_statement_headers {
	color:#B2543B;
	text-transform:uppercase;
	padding-bottom:20px;
	width:30%;
	margin:auto;
	margin-bottom:30px;
	border-bottom:2px solid #B2543B;
}

#missionStatement {
	float:left;
	width:40%;
	line-height:30px;
	text-align:left;
	margin-top:60px;
}

#mission_image {
	float:right;
	height:100%;
	width:50%;
	background-image:url("../img/chance.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#goals {
	margin-top:40px;
	margin:auto;
	color:#B2543B;
	width:28%;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:40px;
	border-bottom:3px solid #B2543B;
	text-transform:uppercase;
	text-align:center;
}

#firstGoals {
	float:right;
	width:100%;
	height:300px;
	margin-bottom:20px;
}

#generalgoals {
	float:right;
	width:40%;
	text-align:left;
	line-height:30px;
	margin-right:30px;
	margin-top:115px;
}

#general_image {
	padding-top:120px;
	margin-left:30px;
	height:100%;
	width:45%;
	float:left;
	background-image:url("../img/maxres.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	transition:all 0.4s ease-in-out;
}

#secondGoals {
	float:left;
	width:100%;
	height:300px;
	margin-bottom:20px;
}

#codegoals {
	float:left;
	width:40%;
	text-align:left;
	margin-top:100px;
	line-height:30px;
	margin-left:30px;
}

#code_image {
	padding-top:120px;
	margin-right:30px;
	height:100%;
	width:45%;
	float:right;
	background-image:url("../img/murphy.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	transition:all 0.4s ease-in-out;
}

#thirdGoals {
	float:right;
	width:100%;
	height:300px;
	margin-bottom:20px;
}

#communicationGoals {
	float:right;
	width:40%;
	text-align:left;
	line-height:30px;
	margin-right:30px;
	margin-top:90px;
}

#communi_image {
	padding-top:120px;
	float:left;
	height:100%;
	width:45%;
	margin-left:30px;
	background-image:url("../img/captainMurphy.gif");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	transition:all 0.4s ease-in-out;
}

#general_image:hover,
#code_image:hover,
#communi_image:hover {
	box-shadow:inset 0 300px 0 0 rgba(178,84,59,0.6);
}

#general_image:hover .about_links,
#code_image:hover .about_links,
#communi_image:hover .about_links {
	opacity:1;
}

.about_links a:hover {
	background-color:#ffffff;
	color:#B2543B;
}

.about_links {
	opacity:0;
	transition:all 0.4s ease-in-out;
	text-align:center;
	text-transform:uppercase;
	margin-top:-2px;
}

.about_links a {
	text-decoration:none;
	color:#ffffff;
	width:40%;
	padding:10px;
	margin:auto;
	border:3px solid #ffffff;
}

/*=====================
team.html
=====================*/

#teamnavCover {
	background-image:url("../img/moreMurphy.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#team_heading {
	color:#B2543B;
	margin-top:30px;
	font-size:40px;
	text-align:center;
	text-transform:uppercase;
}

#teamBody {
	margin-top:50px;
	margin-bottom:50px;
}

#headmanagerBlock {
    margin: auto;
	margin-bottom:40px;
    text-align: center;
}

#departmanagerBlock {
	display:flex;
	justify-content:space-between;
	width:90%;
    margin: auto;
}

#johnson,
#badora {
	display:inline-block;
}

#johnson {
	background-image:url("../img/pix/danielle_1.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

#badora {
	background-image:url("../img/pix/demitri_1.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

#cynthia,
#camelo,
#raymond,
#amanda,
#brian {
	width:150px;
	height:150px;
	border-radius:50%;
}

#cynthia {
	background-image:url("../img/pix/cynthia_1.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

#camelo {
	background-image:url("../img/pix/kevin_1.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

#raymond {
	background-image:url("../img/pix/raymond_1.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

#amanda {
	background-image:url("../img/pix/amanda_1.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

#brian {
	background-image:url("../img/pix/brian_1.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

.mana_pos {
	margin:auto;
	font-size:22px;
	text-align:center;
	margin-top:220px;
	margin-bottom:0px;
}

.mana_name {
	margin-bottom:10px;
	margin-top:5px;
	text-align:center;
}

.depart_mana_pos {
	margin:auto;
	font-size:16px;
	text-align:center;
	margin-bottom:0px;
}

.managers {
	width:200px;
	height:200px;
	border-radius:50%;
	transition:all 0.4s ease-in-out;
}

.managers:hover {
	box-shadow:inset 0 0 0 100px rgba(178,84,59,0.6);
}

.manager_cover:hover .meetTeam {
	opacity:1;
	transform:scale(1);
}

.meetTeam:hover {
	background-color:#ffffff;
	color:#B2543B;
}

.meetTeam a {
    color: white;
    text-decoration: none;
}

.meetTeam:hover a {
    color: #B2543B;
}

.manager_cover {
	width:inherit;
	height:inherit;
	margin:auto;
	padding-top:50px;
	transition:all 0.4s ease-in-out;
}

.meetTeam {
	text-align:center;
	font-size:15px;
	font-weight:lighter;
	color:#ffffff;
	width:60%;
	padding:5px;
	border:2px solid #ffffff;
	margin:auto;
	transition:all 0.4s ease-in-out;
	opacity:0;
	transform:scale(0);
}

#workers_block {
	width:90%;
	height:500px;
	margin:auto;
	margin-bottom:50px;
}

#userability_depart,
#marketing_depart,
#code_depart,
#graphic_depart,
#content_depart {
	width:100%;
	height:100%;
}

.block_headers {
	font-size:22px;
	color:#B2543B;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	width:25%;
	margin:auto;
	margin-bottom:10px;
	text-transform:uppercase;
	border-bottom:1px solid #B2543B;
}

#code_header {
	width:20%;
}

.block_intro {
	text-align:center;
	width:60%;
	margin:auto;
}


/*=====================
work.html
=====================*/

#worknavCover {
	background-image:url("../img/maxres.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	margin-bottom:30px;
}

#workWrapper {
	margin: 1%;
}

.projectWrapper {
	float: left;
	border-bottom: 5px solid #B2543B;
}

.projectWrapper h4 {
	color: #B2543B;
	text-transform: uppercase;
	text-align: center;
}

.projectRow {
	clear: both;
	width: 90%;
	margin: auto;
}

.project {
	background-size: contain;
	background-repeat: no-repeat;
	margin: 30px;
	float: left;
	width: 200px;
	height: 100px;
	padding: 10%;
}

/*=====================
project content
=====================*/

#emerald {
	background-image: url("../img/emerald.jpg");
}

#popart {
	background-image: url("../img/popart.png");
}

#magCover {
	background-image: url("../img/magCover.png");
}

#typeProject {
	background-image: url("../img/typeProject.png");
}

#brianhead {
	background-image: url("../img/brianhead.jpg");
}

#colorSchemes {
	background-image: url("../img/colorSchemes.png");
}

#infographic {
	background-image: url("../img/infographic.png");
}

#sketchbook {
	background-image: url("../img/sketchbook.png");
}

#marketingLogo {
	background-image: url("../img/marketingLogo.jpg");
}

#anniversaryLogo {
	background-image: url("../img/anniversaryLogo.png");
}



/*=====================
contact.html
=====================*/

h3 {
	font-size:20px;
	color:#B2543B;
	padding-top:40px;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:3px solid #B2543B;
	width:20%;
	margin:auto;
	text-align:center;
}


#select {
	width:80%;
	display:flex;
	justify-content:space-between;
	margin-top:50px;
	margin-bottom:40px;
	padding-left:160px;
	overflow:hidden;
}

#map {
	border:2px solid #B2543B;
	padding:20px;
	transition:all 0.4s ease-in-out;
}

#map:hover {
	box-shadow:inset 0 400px 0 0 rgb(178,84,59);
}

#chang_contact {
	background-image:url("../img/murphySkull.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	transition:all 0.4s ease-in-out;
	margin-top:20px;
	margin-right:50px;
	height:350px;
	width:350px;
	border-radius:50%;
	border:1px solid #B2543B;
}

#chang_contact:hover {
	box-shadow:inset 0 -400px 0 0 rgba(178,84,59, 0.5);
}

#chang_contact p {
	text-align:center;
	color:#FFFFFF;
	margin-top:50px;
	opacity:0;
	transition:all 0.4s ease-in-out;
}

#email {
	width:55%;
	margin:auto;
	padding:5px;
	border:2px solid #ffffff;
	transition:all 0.4s ease-in-out;
}

#email:hover {
	background-color:#ffffff;
	color:#B2543B;
}

#chang_contact:hover p {
	opacity:1;
}

form {
	width:50%;
	margin:auto;
	padding:20px;
	margin-bottom:40px;
}

label {
	font-size:20px;
	color:#B2543B;
	margin-bottom:10px;
	margin-top:10px;
}

label,
input,
textarea {
	display:block;
	outline:none;
}

input {
	width:100%;
	border:1px solid #B2543B;
	border-radius:10px;
	height:30px;
	padding-left:10px;
}

textarea {
	width:100%;
	min-height:300px;
	border:1px solid #B2543B;
	border-radius:10px;
}

input[text],
textarea {
	font-weight:lighter;
	font-size:20px;
	padding:10px;
}

#submit {
	width:20%;
	margin:auto;
	text-align:center;
	font-size:20px;
	padding-top:2px;
	color:#B2543B;
	background-color:#ffffff;
	margin-top:10px;
	transition:all 0.4s ease-in-out;
}

#submit:hover {
	background-color:#B2543B;
	color:#ffffff;
}

@media only screen and (max-width:770px),
{

	/*index.html*/

	header {
		background-image:url("../img/flyinglotus.jpg");
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
	}

	.nav_ul {
		width:80%;
		float:right;
		padding:0;
		margin-right:20px;
		padding:0;
		padding-top:20px;
	}

	#about_index_content {
		width:80%;
		line-height:50px;
	}

	#button {
		width:15%;
		height:60px;
	}

	#featuredWorks {
		height:1000px;
		margin-bottom:0;
	}

	#featured_works_heading {
		width:60%;
	}

	#featured_works_body {
		display:block;
		height:inherit;
	}

	.featured_works {
		width:50%;
		height:200px;
		margin-bottom:50px;
	}

	#firstFeatured {
		float:left;
		margin-left:10px;
	}

	#secondFeatured {
		float:right;
		margin-right:10px;
	}

	#thirdFeatured {
		float:left;
		margin-left:10px;
		margin-bottom:0px;
	}

	footer {
		margin-top:0;
		top:2165px;
	}

	/*about.html*/

	#aboutnavCover {
		background-image:url("../img/maxres.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
	}

	#mission_statement_headers {
		width:60%;
		text-align:center;
		margin:auto;
		margin-bottom:20px;
	}

	#missionStatement {
		width:100%;
		text-align:center;
		margin-top:0px;
		line-height:40px;
	}

	#mission_image {
		width:100%;
	}

	#firstGoals {
		width:90%;
		margin:auto;
		padding:0;
		margin-right:5%;
		margin-bottom:120px;
	}

	#generalgoals {
		margin-top:0;
		width:100%;
		margin:auto;
		margin-right:0;
		text-align:center;
		line-height:40px;
		float:none;
		margin-bottom:20px;
	}

	#general_image {
		width:100%;
		float:none;
		margin-left:0;
	}

	#secondGoals {
		width:90%;
		margin:auto;
		padding:0;
		margin-left:5%;
		margin-bottom:120px;
	}

	#codegoals {
		margin-top:0;
		width:100%;
		margin:auto;
		margin-right:0;
		text-align:center;
		line-height:40px;
		float:none;
		margin-bottom:20px;
	}

	#code_image {
		width:100%;
		float:none;
		margin-left:0;
	}

	#thirdGoals {
		width:90%;
		margin:auto;
		padding:0;
		margin-right:5%;
	}

	#communicationGoals {
		margin-top:0;
		width:100%;
		margin:auto;
		margin-right:0;
		text-align:center;
		line-height:40px;
		float:none;
		margin-bottom:20px;
	}

	#communi_image {
		width:100%;
		float:none;
		margin-left:0;
	}

	/*team.html*/

	#teamBody {
		width:90%;
		margin:auto;
	}

	#headmanagerBlock {
		margin-left:0;
		margin-right:0;
		display:inline-block;
	}

	#johnson {
		margin-left:0;
		margin-right:30%;
	}

	#badora {
		margin-right:0;
	}

	#departmanagerBlock {
		display:block;
		width:90%;
		margin:auto;
	}

	.managers {
		display:block;
		margin-bottom:50px;
	}

	#cynthia {
		margin-left:0;
	}

	.depart_mana_pos,
	.mana_name {
        margin-left: 150px;
	}


}

@media only screen and (max-width:450px)

{







}
